html{
    text-align: center;
}
body{
    display: inline-block;
    text-align: center;
    box-shadow: 50px 40px 30px 4px rgb(0, 0, 0);
}

#Output{
    background-color: rgb(3, 3, 45);
    color: white;
    height: 75px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 325px;
    font-size: 25px;
}

.Calculator{
    background-color: rgb(46, 56, 49);
    display: inline-block;
    border: 20px;
    border-color: aqua;
    border-style: solid;
    align-items: center;
    
}

.press{
    background-color: rgb(216, 72, 72);
    color: white;
    width: 75px;
    height: 75px;
    margin: 2px;
    border-radius: 27px;
}
.press:hover{
    background-color: rgb(60, 204, 31);
    color: rgb(22, 1, 1);
}